{% extends 'base.html' %}

{% block css_url %}{{ url_for('static', filename='index.css') }}{% endblock %}
{% block title %}О проекте - Anakta CTF{% endblock %}

{% block leftLinks %}
<a href="./">Главная</a> <a href="./members">Участники</a>
{% endblock %}

{% block header %}О проекте - Anakta CTF{% endblock %}
{% block bottomlinks %}<a href="./frontchain">FrontChain</a>{% endblock %}

{% block rightLinks %}
<a href="./journal">Журнал</a> <a href="./resources">Ресурсы</a>
{% endblock %}

{% block content %}
<article class="markdown-body entry-content container-lg" itemprop="text">
    <div class="markdown-heading" dir="auto">
        <h1 tabindex="-1" class="heading-element" dir="auto">Статьи от нашей команды</h1>
        <span id="user-content-статьи-от-нашей-команды" class="anchor" aria-label="Permalink: Статьи от нашей команды"></span>
    </div>
    <p dir="auto">На этом сайте собраны статьи и полезные материалы для тех, кто интересуется CTF.</p>
    
    <div class="markdown-heading" dir="auto">
        <h2 tabindex="-1" class="heading-element" dir="auto">Полезные ресурсы</h2><span id="user-content-полезные-ресурсы"
            class="anchor" aria-label="Permalink: Полезные ресурсы" href="#полезные-ресурсы"></span>
    </div>
    <div class="markdown-heading" dir="auto">
        <h3 tabindex="-1" class="heading-element" dir="auto">📚 <a
                href="/resources">Awesome-list</a></h3><span id="user-content--awesome-list"
            class="anchor" aria-label="Permalink: 📚 Awesome-list" href="#-awesome-list"></span>
    </div>
    <p dir="auto">Подборка полезных ресурсов, инструментов и материалов по различным аспектам информационной
        безопасности.</p>
    <div class="markdown-heading" dir="auto">
        <h2 tabindex="-1" class="heading-element" dir="auto">👾 Наша команда</h2><span id="user-content--наша-команда"
            class="anchor" aria-label="Permalink: 👾 Наша команда" href="#-наша-команда"></span>
    </div>
    <p dir="auto">Мы CTF команда Московского Политеха. Принимаем участие в различных соревнований, обучаем и помогаем
        молодым бойцам и участникам CTF.
    </p>
    <h3>
        <span class="arrow">&#8594;</span>
        <a href="https://ctftime.org/team/150251" rel="nofollow">CTFtime</a>
        <span class="arrow">&#8592;</span>
    </h3>
</article>
{% endblock %}