{% extends 'base.html' %}

{% block css_url %}{{ url_for('static', filename='index.css') }}{% endblock %}
{% block title %}Главная - Anakta CTF{% endblock %}

{% block leftLinks %}
<a href="./about">О проекте</a> <a href="./members">Участники</a>
{% endblock %}

{% block header %}Anakta CTF{% endblock %}
{% block bottomlinks %}<a href="./frontchain">FrontChain</a>{% endblock %}

{% block rightLinks %}
<a href="./journal">Журнал</a> <a href="./resources">Ресурсы</a>
{% endblock %}

{% block content %}
    <article>
        <h2>Аннотация</h2>
        <p>
            На этом сайте собраны статьи и полезные материалы для тех, кто интересуется CTF.<br>
            Здесь вы найдете основные понятия и первые шаги в мире кибербезопасности, и не только.<br>
            Список всех статей представлен ниже.
        </p>
        <hr>
        {% for category, articles in data.items() %}
            <div>
                <h2><i>{{ category }}</i></h2>
                {% for article in articles %}
                    <a href="article?category={{ category }}&article={{ article.encoded }}">{{ article.decoded }}</a>
                    {% if not loop.last %}
                        |
                    {% endif %}
                {% endfor %}

                {% if not loop.last %}
                <hr>
                {% endif %}
            </div>
        {% endfor %}
    </article>
{% endblock %}