{% extends 'base.html' %}

{% block css_url %}{{ url_for('static', filename='index.css') }}{% endblock %}
{% block title %}Главная - Anakta CTF{% endblock %}

{% block header %}Anakta CTF{% endblock %}
{% block content %}
    <article>
        {% for category, articles in data.items() %}
            <div>
                <h2><i>{{ category }}</i></h2>
                {% for article in articles %}
                    <a href="article?category={{ category }}&article={{ article }}">{{ article }}</a>
                    {% if not loop.last %}
                        |
                    {% endif %}
                {% endfor %}

                {% if not loop.last %}
                <hr>
                {% endif %}
            </div>
        {% endfor %}
    </article>
{% endblock %}