{% extends 'base.html' %}

{% block css_url %}{{ url_for('static', filename='index.css') }}{% endblock %}
{% block title %}Журнал - Anakta CTF{% endblock %}

{% block leftLinks %}
<a href="./about">О проекте</a> <a href="./members">Участники</a>
{% endblock %}

{% block header %}Журнал - Anakta CTF{% endblock %}

{% block rightLinks %}
<a href="./">Главная</a> <a href="./resources">Ресурсы</a>
{% endblock %}

{% block content %}
<article class="news">

    <div>
        <h2>Собраны статьи с GitHub</h2>
        <p>
            Для сайта требовалось перенести большое количество контента из GitHub CTF команды Anakta, теперь всё необходимое
            собрано, и можно приступать к работе над структурой.
        </p>
        <hr>
        <p>18.04.2025</p>
    </div>

    <div>
        <h2>Определена структура сайта</h2>
        <p>
            Была определна структура сайта, она будет состоять из 6 страниц: 
            Главная - с каталогом тем и статей, О проекте - описание CTF проекта, Участники - студенты, Ресурсы - полезные ссылки, 
            Журнал - новости о проделанной работе над проектом, и страница Статья - в ней будет подгружаться содержимое выбранной статьи.
            Теперь можно наполнять их контентом, и дорабатывать стили.
        </p>
        <hr>
        <p>19.04.2025</p>
    </div>

    <div>
        <h2>Сайт для команды-CTF киберполигона готов!</h2>
        <p>
            Спустя небольшой промежуток времени, сайт полностью готов! Имеется обширный каталог статей, 
            собранный из GitHub'а команды и информация о самом проекте. Сайт для команды CTF-киберполигона готов для сдачи.
        </p>
        <hr>
        <p>20.04.2025</p>
    </div>

</article>
{% endblock %}