{% extends 'base.html' %}

{% block css_url %}{{ url_for('static', filename='index.css') }}{% endblock %}
{% block title %}Участники - Anakta CTF{% endblock %}

{% block leftLinks %}
<a href="./about">О проекте</a> <a href="./">Главная</a>
{% endblock %}

{% block header %}Участники - Anakta CTF{% endblock %}

{% block rightLinks %}
<a href="./journal">Журнал</a> <a href="./resources">Ресурсы</a>
{% endblock %}

{% block content %}
<article>
    <p dir="auto">Мы CTF команда Московского Политеха. Принимаем участие в различных соревнований, обучаем и помогаем
        молодым бойцам и участникам CTF.
        <h3>
            <span class="arrow">&#8594;</span>
            <a href="https://ctftime.org/team/150251" rel="nofollow">CTFtime</a>
            <span class="arrow">&#8592;</span>
        </h3>
    </p>
    <p>Разработчик сайта - Агаев Арслан, группа 241-353</p>
</article>
{% endblock %}